<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} Home {% endblock %}</title>
    {% load static %}
    {% load tags %}
    {% block stylesheet %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'social/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
      var csrf_token = '{{ csrf_token }}'
    </script>
  </head>
  
  <body>
    <main>
      <div class="left-sidebar">
        <div class="content">
          <br>
          <div>
            {% if loggeduserpfp %}
              <img class="pfp" style="margin: 0 auto;" src="/media/{{ pfp.profile_picture }}" alt="{{ theuser.username }}'s profile picture">
            {% else %}
              <img class="pfp" style="margin: 0 auto;" src="{% static 'icons/user.svg' %}" alt="user">
            {% endif %}
          </div>
          
          <div>
            {% if user.first_name %}{{ user.first_name }}{% endif %} {% if user.last_name %}{{ user.last_name }}{% endif %}
          </div>
          
          <div>
            <div>
              <br>
              <a class="btn btn-primary btn-block" href="/" role="button">home</a>
              <br>
              <a class="btn btn-primary btn-block" href="/user/{{ user.pk }}" role="button">Your profile</a>
              <br>
              <a class="btn btn-primary btn-block" href="/settings" role="button">settings</a>
              <br>
              <a class="btn btn-primary btn-block" href="/logout" role="button">log out</a>
            </div>
          </div>
        </div>
      </div>
      <div class="right-sidebar">
        <div class="second-content">
          <br>
          <button class="btn btn-primary btn-sm">#POLITICS</button>
          <button class="btn btn-primary btn-sm">#GAMES</button>
          <button class="btn btn-primary btn-sm">#BOREDOM</button>
          <button class="btn btn-primary btn-sm">#WORK</button>
          <button class="btn btn-primary btn-sm">#HEALTHCARE</button>
          <button class="btn btn-primary btn-sm">#ART</button>
          <button class="btn btn-primary btn-sm">#MOTIVATION</button>
          <button class="btn btn-primary btn-sm">#CATS</button>
          <button class="btn btn-primary btn-sm">#MUSIC</button>
          <button class="btn btn-primary btn-sm">#HOME</button>
        </div>
      </div>
          
      {% block content %}
      {% endblock %}
    <!-- beginning of posts list -->
    <div class="center" style="border-top: #0C1617 solid 1px;">
      <ul id="posts">
        <div style="display:none;" id="currentpost">{{ latest_post.pk }}</div>
        
        {% for post in latest_posts_list %}
        <li class="post" id="post{{ post.pk }}" style="border-bottom: 1px steelblue solid; width: 65.5%; margin-left:15%">
          <div style="text-align: left; font-size: 25px">
            <a href="{% url 'social:user' post.user.pk %}"><span>{{ post.user.username }}</span></a> 
            <span style="color: rgb(71, 76, 71)">{{ post.get_readable_date }}</span>
            {% if post.user == user %}
            <img class="main" src="{% static 'icons/pencil-alt.svg' %}" onclick="toggleVisibility('edit{{ post.pk }}');">
            <img class="main" alt="delete" src="{% static 'icons/trash-alt.svg' %}" onclick="toggleVisibility('delete{{ post.pk }}');">            <span class="changenone" id="delete{{ post.pk }}">Delete the post?<button class="btn btn-primary" onclick="deletePost({{ post.pk }})">Yes, delete it.</button></span>


            <span class="changenone" id="edit{{ post.pk }}">
              <form onsubmit="editPost('{{ post.pk }}')">
                <label for="edit-field">New text:</label>
                <input type="text" name="new_text" placeholder="Edit here" id="edit-field" maxlength="2500" minlength="1" value="{{ post.post_text }}" required="">
                {{ editform.id.as_hidden }}
                <button class="btn btn-primary" type="submit">Edit</button>
              </form>
            </span>
          {% endif %}
          </div>
          <div class="post-text" id="post_text{{ post.pk }}">{{ post.post_text }}</div>

          {% if post.image %}
            <img src="{{ post.image.url }}" alt="post-image{{ post.pk }}" width="400" height="400">
          {% endif %}

          <div style="text-align: left;">
            <img class="main" alt="like" src="{% static 'icons/thumbs-up.svg' %}" onclick="like({{ post.pk }})">
            <img class="main" alt="dislike" src="{% static 'icons/thumbs-down.svg' %}" onclick="dislike({{ post.pk }}">
            <br>
            <span id="total_likes{{ post.pk }}">{% total_likes post %}</span>/<span id="total_dislikes{{ post.pk }}">{% total_dislikes post %}</span>
          </div>
          <span id="comment_in_reply{{ post.pk }}">
            <form onsubmit="commentInReply({{ post.pk }})">
              {{ commentform }}
              <button class="btn btn-primary" type="submit">Comment</button>
            </form>
          </span>


          <ul id="comment_section{{ post.pk }}">
            <div style="display:none;" id="currentcomment">{{ post.comment_set.all.last.pk }}</div>
            {% for comment in post.comment_set.all %}

            <li class="{% if comment.in_reply_to_comment %}inreply{% else %}comment{% endif %}" id="comment{{ comment.pk }}"><div class="comment" id="comment_text{{ comment.pk }}">{{ comment }}</div><img class="reply" alt="down" src="{% static 'icons/arrow-down.svg' %}" onclick="toggleVisibility('comment_in_reply{{ comment.pk }}');">
            
            {% if comment.posted_by == user %}
            <img class="reply" alt="delete" src="{% static 'icons/trash-alt.svg' %}" onclick="toggleVisibility('delete_comment{{ comment.pk }}');">
            <img class="reply" src="{% static 'icons/pencil-alt.svg' %}" onclick="toggleVisibility('edit_comment{{ comment.pk }}');">
            
            <span class="changenone" id="delete_comment{{ comment.pk }}"><strong class="stronger">Delete the comment? </strong><button class="btn btn-primary" onclick="deleteComment({{ comment.pk }})">Yes, delete it.</button></span>
            
            <span class="changenone" id="edit_comment{{ comment.pk }}">
              <form onsubmit="editComment({{ comment.pk }})">
                <label for="edit-field">New text:</label>
                <input type="text" name="new_text" placeholder="Edit here" id="edit-field" maxlength="2500" minlength="1" value="{{ comment }}" required="">
                {{ editform.id.as_hidden }}
                <button class="btn btn-primary" type="submit"></button>
              </form>
            </span>

            {% endif %}          

            <span class="changenone" id="comment_in_reply{{ comment.pk }}">
              <form onsubmit="commentInReply({{ post.pk }}, {{ comment.pk }})">
                {{ commentform }}
                <input type="hidden" id="in_reply_to_user{{ comment.pk }}" value="{{ comment.posted_by.pk }}">
                <input type="hidden" id="in_reply_to_comment{{ comment.pk }}" value="{{ comment.pk }}">
                <button class="btn btn-primary" type="submit"></button>
              </form>
            </span>

            <div class="commentsub"> commented by <a href="{% url 'social:user' comment.posted_by.pk %}">{{ comment.posted_by }}</a>{% if comment.in_reply_to_comment %} in reply to <a href="{% url 'social:user' comment.in_reply_to_user %}">{{ comment.get_user }}</a>'s <a href="{% url 'social:showcomment' comment.in_reply_to_comment %}">comment</a> {% endif %}<br><small>Posted at  {{ comment.get_readable_date }}</small></div>
            </li>
            {% endfor %} <!-- end of the comment list -->
          </ul>

        {% endfor %} <!-- end of the post list -->
        
        </ul>
      </div>
    </main>
  </body>
<script src="{% static 'social/basescript.js' %}"></script>
</html>
