<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} Home {% endblock %}</title>
    {% load static %}
    {% load tags %}
    {% block stylesheet %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'social/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
      var csrf_token = '{{ csrf_token }}'
    </script>
  </head>
  
  <body>
    <main>
      <div class="left-sidebar">
        <div class="content">
          <br>
          <div>
            {% if loggeduserpfp %}
              <img class="pfp center" src="/media/{{ request_user.profile.profile_picture }}" alt="{{ request_user.username }}'s profile picture">
            {% else %}
              <img class="pfp center" src="{% static 'icons/user.svg' %}" alt="user">
            {% endif %}
          </div>
          
          <div>
            {% if user.first_name %}{{ user.first_name }}{% endif %} {% if user.last_name %}{{ user.last_name }}{% endif %}
          </div>
          
          <div>
            <div>
              <br>
              <a class="btn btn-primary btn-block" href="/" role="button">Home</a>
              <br>
              <a class="btn btn-primary btn-block" href="/user/{{ user.pk }}" role="button">Your profile</a>
              <br>
              <a class="btn btn-primary btn-block" href="/settings" role="button">Settings</a>
              <br>
              <a class="btn btn-primary btn-block" href="/logout" role="button">Log out</a>
            </div>
          </div>
        </div>
      </div>
      <div class="right-sidebar">
        <div class="content">
          <br>
          <button class="btn btn-primary btn-sm">#POLITICS</button>
          <button class="btn btn-primary btn-sm">#GAMES</button>
          <button class="btn btn-primary btn-sm">#BOREDOM</button>
          <button class="btn btn-primary btn-sm">#WORK</button>
          <button class="btn btn-primary btn-sm">#HEALTHCARE</button>
          <button class="btn btn-primary btn-sm">#ART</button>
          <button class="btn btn-primary btn-sm">#MOTIVATION</button>
          <button class="btn btn-primary btn-sm">#CATS</button>
          <button class="btn btn-primary btn-sm">#MUSIC</button>
          <button class="btn btn-primary btn-sm">#HOME</button>
        </div>
      </div>

      {% block content %}
      {% endblock %}
    </main>
  </body>
  <script src="{% static 'social/basescript.js' %}"></script>
</html>