<html>
  <head>
    {% load static %}
    {% load tags %}
    {% block stylesheet %}{% endblock %}  
    <link rel="stylesheet" type="text/css" href="{% static 'social/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'social/basescript.js' %}"></script>
    
  </head>
  <body>
    <main>
      <div class="center">
        <div id="info-message">
          {% if response == None %}
          <span></span>
          {% elif response == True %}
          <h1 class="center alert alert-success">Changes have been saved to your profile.</h1>
          {% else %}
          <h1 class="center alert alert-warning">Something went wrong</h1>
          {% endif %}
        </div>
        <form method="POST">
          {% csrf_token %}
          {{ change_profile_info_form.as_p }}
          <button class="btn btn-primary" type="submit">change</button>
        </form>
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ profile_picture_form.as_p }}
          <img id="blah" src="#" alt="your image" />
          <button class="btn btn-primary" type="submit">change image</button>  
        </form>
        <a class="btn btn-primary" href="/user/{{ logged_user }}/" role="button">go back</a>
      </div>
    </main>
  </body>
</html>