<head>
  <title>Home</title>
  {% extends 'social/base.html' %}
  {% load staticfiles %}
  {% load tags %}


</head>
{% block content %}

<div style="border-bottom: #0C1617 solid 1px" class="center">
  <h1>Home</h1>
  <form id="post_form" method="post" onsubmit="createPost()">
    {{ postform.post_text }}
    <div class="centerhome">
      <label for="id_post_image">attach image:</label> {{ postform.post_image }}
      <input type="submit" value="post">
    </div>
  </form>
</div>
<div class="center">
  <h1>Recent posts</h1>
</div>
{% endblock %}

