<html>
  <head>
    <meta charset="utf-8">
    {% extends 'social/base.html' %}
    <title>{{ comment.posted_by }}'s comment</title>
    {% load static %}
    {% load tags %}
  </head>

  {% block content %}
  <body>
    <ul style="margin-left: 200px; border-top: 1px solid rgb(255,255,255, 0)"> <!-- TODO -->
      <span class="none" id="currentcomment">{{ post.comment_set.all.last.pk }}</span>
      {% for comment in post.comment_set.all %}
      <li class="{% if comment.in_reply_to_comment %}inreply{% else %}comment{% endif %} comment-text" id="comment{{ comment.pk }}">
        <!-- Comment header -->
        <div class="comment-body">
          <div>

            <p class="comment-text" id="comment_text{{ comment.pk }}">{{ comment }}</p>

            <span>
              <a href="{% url 'social:user' comment.posted_by.pk %}">{{ comment.posted_by }}</a>
              {% if comment.in_reply_to_comment %}
              in reply to 
              <a href="{% url 'social:user' comment.in_reply_to_user %}">{{ comment.get_user }}</a>'s
              <a href="{% url 'social:view_comment' comment.in_reply_to_comment %}">comment</a>
              {% endif %}
            </span>
            <span class="post-date">{{ comment.get_readable_date }}</span>
            <!-- Options-->
            <span>
              {% if comment.posted_by == user %}
                <button class="btn btn-outline-primary btn-sm" onclick="toggleVisibility('edit_comment{{ comment.pk }}');">
                  <img class="icon" src="{% static 'icons/pencil-alt.svg' %}">
                </button>
                <button class="btn btn-outline-danger btn-sm" onclick="toggleVisibility('delete_comment{{ comment.pk }}');">
                  <img class="icon" alt="delete" src="{% static 'icons/trash-alt.svg' %}">
                </button>
              {% endif %}
                <button class="btn btn-outline-primary btn-sm" onclick="toggleVisibility('comment_in_reply-{{ post.pk }}-{{ comment.pk }}');">
                  <img class="icon" alt="reply" src="{% static 'icons/arrow-down.svg' %}">
                </button>          
              {% if comment.posted_by == user %}
                <span class="none" id="delete_comment{{ comment.pk }}">Delete the comment?<button class="btn btn-danger"  onclick="deleteComment({{ comment.pk }})">Yes, delete it.</button></span>
                <span class="none" id="edit_comment{{ comment.pk }}">
                  <form onsubmit="editComment({{ comment.pk }})">
                    <input type="text" name="new_text" placeholder="Edit here" id="edit-field" maxlength="200"  minlength="1" value="{{ comment }}" required="">
                    {{ editform.id.as_hidden }}
                    <button class="btn btn-primary" type="submit">Edit comment</button>
                  </form>
                </span>
              {% endif %}
            </span>
          </div>

          <span class="none" id="comment_in_reply-{{ post.pk }}-{{ comment.pk }}">
            <form onsubmit="commentInReply({{ post.pk }}, {{ comment.pk }})">
              {{ commentform }}
              <input type="hidden" id="in_reply_to_user{{ comment.pk }}" value="{{ comment.posted_by.pk }}">
              <input type="hidden" id="in_reply_to_comment{{ comment.pk }}" value="{{ comment.pk }}">
              <button class="btn btn-primary btn-block" type="submit">Reply</button>
            </form>
          </span>
        </div>
      </li>
      {% endfor %} <!-- end of the comment list -->
    </ul>
  </body>
  {% endblock %}
</html>