{% extends 'social/base.html' %}
<head>
  {% load static %}
  {% load tags %}
  {% block stylesheet %}{% endblock %}
<script src="{% static 'social/basescript.js' %}"></script>

{% block title %} {{ theuser.username }}'s profile {% endblock %}

{% block content %}
<div class="userinfo bottom-border">
  {% if pfp %}
    <img class="pfp" src="/media/{{ pfp.profile_picture }}" alt="{{ theuser.username }}'s profile picture" height="100" width="100">
  {% else %}
    <img class="pfp" alt="user" src="{% static 'icons/user.svg' %}" height="100" width="100">
  {% endif %}
  <div class="credentials">
    <div class="username">
      {{ theuser.username }}
    </div>

    <div class="names">
      {% if theuser.first_name %}{{ theuser.first_name }} {% endif %}{% if theuser.last_name %} {{ theuser.last_name }}{% endif %}
    </div>
    <div class="location"><img src="{% static 'icons/location.svg' %}" width="10" height="10">{% if profile.location %} {{ profile.location }} {% else %} The Earth {% endif %}</div>
    <div>
      {% if theuser != user %}
      <button class="coolButton" style="padding:2px 10px; font-size: 10px;" onclick="followUser({{ theuser.pk }})"><span id="follow">{% already_followed theuser user %}</span></button>
      {% endif %}
    </div>
    <div>
      following: <a href="/following/{{ theuser.pk }}">{% total_followed theuser %}</a>
      followers: <a href="/followers/{{ theuser.pk }}" id="followers">{% total_followers theuser %}</a>
    </div>
    <div style="margin-left:-113px; font-style: italic; font-size: 18px;">
      {% if profile.bio %} "{{ profile.bio }}"
      {% else %}<span style="color: #5e5e5e">Bio mising</span>
      {% endif %}
    </div>
    <h2 style="margin-left:-113px;">My posts:</h2>

  </div>
</div>
<br><br><br><br><br>
{% endblock %}