{% extends 'social/base.html' %}
{% load static %}
    {% load tags %}
    {% block stylesheet %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'social/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
      var profileChangeToken = '{{ csrf_token }}'
    </script>
    <script src="{% static 'social/script.js' %}"></script>
  
{% block title %} {{ theuser.username }}'s profile {% endblock %}

{% block content %}
Username:{{ theuser.username }}
<br>Name and last name: <span id="first_name">{% if theuser.first_name %} {{ theuser.first_name }} {% endif %}</span> <span id="last_name">{% if theuser.last_name %} {{ theuser.last_name }}{% endif %}</span>
<br>Joined at {{ theuser.date_joined }}
<br>Bio: <span id="bio">{% if profile.bio %} {{ profile.bio }} {% else %} The user has no bio. {% endif %}</span>
<br>Location: <span id="location">{% if profile.location %} {{ profile.location }} {% else %} The user didn't mention his location.{% endif %}</span>
<br>Total follows: {% total_followed theuser %} <a href="/following/{{ theuser.pk }}">{{ theuser.username }}'s follows</a>
<br>Total followers: <span id="followers">{% total_followers theuser %}</span> <a href="/followers/{{ theuser.pk }}">{{ theuser.username }}'s followers </a>
{% if theuser != user %}

<br><img alt="user" src="{% static 'icons/user.svg' %}" width="50" height="50" onclick="follow_user({{ theuser.pk }})"><br><button class="coolButton" onclick="follow_user({{ theuser.pk }})"><span id="follow">{% already_followed theuser user %}</span></button>
{% else %}

<br><strong>Cannot follow yourself!</strong>
<br><button class="coolButton" onclick="toggle_visibility('settings')">Profile settings</button>

<span id="settings" class="changenone">
<form onsubmit="bio_change()">
{{ changeform.as_p }}
<input type="submit" value="change" onclick="toggle_visibility('settings')">
</form>
<small>You may also leave the fields blank.</small>
</span>

{% endif %}
{% endblock %}
