body {
	background-color: white;
    color: #1b1919;
}

img.pfp {
    height: 100;
    width: 100;
    border-radius: 4%;
    display: block;
}

.left-sidebar {
    width: 15%;
    background-color:white;
    position: fixed;
    height: 100%;
    border-right: 1.5px solid #44494a;
    text-align: center !important;
}

.right-sidebar {
    margin: 0px;
    width: 15%;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    text-align: left;
    background-color: white;
    border-left: 1.5px solid #44494a;
}

div.content {
    height: 1000px;
    word-wrap: break-word;
    text-align: center;
    padding: 5px;
}

div.second-content {
    height: 1000px;
    word-wrap: break-word;
    text-align: center !important;
}

@media screen and (max-width: 800px) {
    .left-sidebar {
        visibility: hidden;
    }
    .right-sidebar {
        visibility: hidden;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}    
}

.center{
    margin: 0 auto;
    text-align: center;
}
.homecenter {
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userinfo-centered {
    margin: 0 auto;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
}

li.post {
    padding: 30px 10px;
    margin-bottom: 50px;
}

li.comment {
    border-left: steelblue 2px solid;
    padding: 40px 20px;
    margin-left: 15px;
}

li.inreply {
    border-left: blue 2px solid;
    margin-left: 35px;
    padding: 45px;
}

img.main {
    width: 20px;
    height: 20px;
}

img.reply {
    width: 20px;
    height: 20px;
}

span.none {
    display: none;
}

span.changenone {
    display: none;
}

span.center {
	text-align: center;
	font-size: 2.5em;
    display: block;
}

div.post-text {
    color: #141214;
    font-size: 40px;
    text-align: left;
}

div.post-date {
    color: lightgreen;
    font-size: 22px;
}

div.post-username {
    color: #141214;
    text-align: center;
}

.post-input {
    height: 145px;
    font-size: 20px;
}

.comment-input {
    font-size: 20px !important;
}

textarea {
    resize: none !important;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border: 1.5px solid #ccc;
    border-radius: 4px;
}