body {
	background-color: white;
	color: rgb(27, 25, 25)
}

span.center {
    text-align: center;
}

div.titlebold {
	display: block;
	font-size: 1.5em;
	font-weight: bold;
}

.helptext {
	font-size: 0.9em;
	display: block;
}

.loginbox {
	width: 30%;
	height: 5%;
}

ul {
	list-style-type: none;
}
