<head><title> Sign up </title></head>
{% extends 'registration/base.html' %}
{% load staticfiles %}

{% block javascript %}
  <script>
    $("#id_username").change(function () {
      var username = $(this).val();

      $.ajax({
        url: '/ajax/validate_username/',
        data: {
          'username': username
        },
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            alert("This username is already taken.");
            }
        }
      });
    });
  </script>
{% endblock %}

{% block content %}
  <span class="centered">
    <p>Sign up</p>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Sign up</button>
    </form>
    Have an account? <a href="/login">Log in!</a>
  </span>
{% endblock %}
